attrs==22.2.0
astar==0.99
charset-normalizer==2.1.1
cloudpickle==2.2.0
colorama==0.4.6
contourpy==1.0.6
cycler==0.11.0
exceptiongroup==1.1.1
fonttools==4.38.0
gym==0.21.0
idna==3.4
imageio==2.24.0
imageio-ffmpeg==0.4.8
importlib-metadata==4.13.0
iniconfig==2.0.0
kiwisolver==1.4.4
matplotlib==3.6.2
numpy==1.23.5
opencv-python==4.6.0.66
packaging==22.0
pandas==1.5.2
Pillow==9.3.0
pluggy==1.0.0
pyglet==1.5.27
pyparsing==3.0.9
pytest==7.2.2
python-dateutil==2.8.2
pytz==2022.6
requests==2.28.1
scikit-image==0.20.0
scipy==1.9.1
six==1.16.0
stable-baselines3==1.6.2
tomli==2.0.1
tsp-solver2==0.4.1
typing_extensions==4.4.0
urllib3==1.26.13
wincertstore==0.2
zipp==3.11.0